<h2>material editable table </h2>
<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">
  
    <!-- ExpandCollapse Icon Column -->
    <ng-container matColumnDef="expandCollapse">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
           <button mat-icon-button color="primary" > 
              <mat-icon id="expand_more"  #expand_more *ngIf="!element.close "  >expand_more</mat-icon>
              <mat-icon id="expand_less"  #expand_less *ngIf="element.close ">expand_less</mat-icon>
            </button> 
        </mat-cell>
      </ng-container>
      
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name">
          </mat-form-field>
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
          </mat-form-field>
        </mat-cell>
      </ng-container>
  
      <!-- Fav Column -->
      <ng-container matColumnDef="fav">
        <mat-header-cell *matHeaderCellDef> Favorite </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
            <mat-select [(value)]="element.fav" placeholder="Favorite">
              <mat-option>None</mat-option>
              <mat-option value="Yes">Yes</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
<ng-template #tpl let-element>
    <div class="mat-row" [@detailExpand] >
        The symbol for {{element.name}} is {{element.symbol}}
    </div>
  </ng-template>