<mat-sidenav-container>
    <mat-sidenav #drawer mode="side" opened role="navigation" *ngIf="globals.userId > 0">
        <mat-toolbar color="alert">
                <mat-toolbar-row class="logo-img">
                    <a href="http://www.viashipyard.com" class="simple-text">
                        <img src="assets/images/vias_logo_en.png"/>
                    </a>
                </mat-toolbar-row>
            </mat-toolbar>
        <app-nav></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" *ngIf="globals.userId > 0" mat-icon-button (click)="drawer.toggle()" color="primary">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <app-header></app-header>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- <app-messages></app-messages> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>