
mat-sidenav-container{
  min-height: 100%;
}
mat-sidenav{
  margin-right: 10px;
}
mat-sidenav-content{
  min-height: 100%;
}
.logo-img{
  background-color: white;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  padding:0px;
  img{
      width: 220px;
  }
}