<nav>
  <ul>
    <li *ngFor="let menuItem of menuItems">
      <b *ngIf="menuItem.children;else noChildren">{{menuItem.name}}</b>
      <ng-template #noChildren>
        <a routerLink="/{{menuItem.link}}" routerLinkActive="active">{{menuItem.name}}</a>
      </ng-template>
      <ul>
        <li *ngFor="let menuItemLvl2 of menuItem.children">
          <a routerLink="/{{menuItemLvl2.link}}" routerLinkActive="active">{{menuItemLvl2.name}}</a>
          <ul>
              <li *ngFor="let menuItemLvl3 of menuItemLvl2.children">
                {{menuItemLvl3.name}}
              </li>
            </ul>
        </li>
      </ul>
    </li>
</ul>
</nav>